/*========== Локальные пути =======*/
@font-face {
    font-family: Myriad Pro Cond;
    src: url(../font/arialn-webfont.eot);
}

@font-face {
    font-family: Myriad Pro Cond;
    src: url(../font/MyriadPro-Cond.otf);
}

body {
    background-image: url(../images/bg-main.jpg);
}

.polosa {
    background-image: url(../images/bg-podval.gif);
}

.c1 {
    background-image: url(../images/bg-top.gif);
}

/*.c2 {
    background-image: url(../images/map.png);
    background-position: 55% 10%;
}*/

.but {
    background-image: url(../images/button.gif);
}

.but:hover {
    background-image: url(../images/button-hover.gif);
}

.but2 {
    background-image: url(../images/but4.gif);
}

.but2:hover {
    background-image: url(../images/but4-hover.gif);
}

.banner_b {
    background-image: url(../images/pattern_062.gif);
}

/*=========== Стили для переноса ============*/
.fullName {
    position: absolute;
    top: 10px;
    left: 5%;
    font-family: "Myriad Pro Cond";
    text-align: left;
    font-size: 30px;
    color: #FFFFFF;
    text-decoration: none;
    width: auto;
    height: auto;
}

.laureat {
    margin-left: 280px;
    padding-top: 20px;
}

.laureat img {
    margin-left: 20px;
}

.contactsQuestions {
    background: #9F3157;
    color: #fff;
    display: block;
    vertical-align: top;
    min-width: 950px;
    max-width: 1250px;
    width: expression(document.body.clientWidth > 1300? "1300px": (document.body.clientWidth < 1000 ? "1000px": "100%"));
    height: auto;
    min-height: 30px;
    margin: 5px auto 20px auto;
    text-align: right;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.questions {
    text-transform: uppercase;
}

.questions em {
    font-style: normal;
    font-size: 13px;
}

.questions a {
    color: #fff;
    vertical-align: middle;
    */ margin-right: 40px;
    margin-left: 20px;
}

a.button {
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    padding: 5px 20px;
    margin-right: 20px;
    border: solid 1px #eb0e28;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-size: 13px;
    color: #ffffff;
    background-color: #d67c87;
    background-image: -moz-linear-gradient(top, #d67c87 0%, #eb0e28 100%);
    background-image: -webkit-linear-gradient(top, #d67c87 0%, #eb0e28 100%);
    background-image: -o-linear-gradient(top, #d67c87 0%, #eb0e28 100%);
    background-image: -ms-linear-gradient(top, #d67c87 0%, #eb0e28 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eb0e28', endColorstr='#eb0e28', GradientType=0);
    background-image: linear-gradient(top, #d67c87 0%, #eb0e28 100%);
    -webkit-box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
    -moz-box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
    box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
}

a.button:hover {
    color: #eaeff2;
    background-color: #eb0e28;
    background-image: -moz-linear-gradient(top, #eb0e28 0%, #d67c87 100%);
    background-image: -webkit-linear-gradient(top, #eb0e28 0%, #d67c87 100%);
    background-image: -o-linear-gradient(top, #eb0e28 0%, #d67c87 100%);
    background-image: -ms-linear-gradient(top, #eb0e28 0%, #d67c87 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d67c87', endColorstr='#d67c87', GradientType=0);
    background-image: linear-gradient(top, #eb0e28 0%, #d67c87 100%);
}

.button i {
    margin-left: 10px;
}

.hide {
    display: none;
}

.show {
    margin-top: 20px;
    display: none;
    background: url(../images/bg-top.gif);
    min-width: 950px;
    max-width: 1250px;
    width: expression(document.body.clientWidth > 1300? "1300px": (document.body.clientWidth < 1000 ? "1000px": "100%"));
    z-index: 1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 2px solid #fff;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    opacity: 0.95;
}

.show .container {
    text-align: left;
    margin-left: 100px;
    margin-right: 100px;
    color: #fff;
    font-size: 0.9em;
}


.show .container a {
    color: #fff;
    font-size: 1em;
}

.show .row {
    margin-bottom: 10px;
}

.show hr {
    margin-top: 20px;
    margin-bottom: 20px;
}

.direction {
    width: 20%;
    display: inline-block;
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
}

.quest {
    display: inline-block;
    max-width: 75%;
    font-size: 1.1em;
    margin-left: 50px;
}

.quest-tel {
    font-size: 1.2em;
    font-weight: bold;
}

.quest p {
    margin-bottom: 10px;
}

.registry a {
    font-weight: bold;
}

.registry a:hover {
    text-decoration: none;
}

p.registry {
    margin-bottom: 5px;
}

.all-quest {
    width: 100%;
}

.all-quest span {
    margin-right: 30px;
    text-transform: uppercase;
}


/*========== Всплывающие подсказки ========*/
.tooltip1,
.tooltip2,
.tooltip3,
.tooltip4 {
    margin-right: 10px;
}

.tooltip1::after,
.tooltip2::after,
.tooltip3::after,
.tooltip4::after {
    background-image: url(../images/map-top.jpg);
    background-repeat: no-repeat;
    background-position: center bottom;
    border-radius: 10px 0px 10px 10px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
    color: #00467f;
    content: attr(data-tooltip);
    /* Главная часть кода, определяющая содержимое всплывающей подсказки */
    opacity: 0;
    /* Наш элемент прозрачен... */
    padding: 8px;
    position: absolute;
    visibility: hidden;
    /* ...и скрыт. */
    transition: all 0.2s ease-in-out;
    /* Добавить плавности по вкусу */
    font-size: 13px;
    font-style: italic;
    font-weight: bold;
    z-index: 1;
}

.tooltip1:hover::after,
.tooltip2:hover::after,
.tooltip3:hover::after,
.tooltip4:hover::after {
    opacity: 0.9;
    visibility: visible;
}

/* Показываем его */

/*=========================================================================*/

/*ИЗМЕНЕНИЯ - ДОБАВИТЬ*/
.questions strong {
    font-weight: normal;
    font-size: 18px;
}

a.button {
    font-size: 18px;
}

.direction {
    width: 25%;
    font-size: 16px;
    font-weight: normal;
    text-transform: uppercase;
}

.quest {
    max-width: 70%;
    margin-left: 40px;
}

p.registry {
    margin-bottom: 10px;
}

p.quest-tel {
    margin-bottom: 20px;
}


.laureat {
    margin-left: 350px;
    padding-top: 7px;
}

.laureat img {
    margin-left: 0;
    vertical-align: middle;
}


/*ЗАМЕНИТЬ*/
.tooltip1::after,
.tooltip2::after,
.tooltip4::after {
    max-width: 250px;
    margin-top: 70px;
    margin-left: -300px;
}

.tooltip3::after {
    max-width: 300px;
    margin-top: 70px;
    margin-left: -340px;
}

@media only screen and (max-width: 1024px) and (min-width: 768px) {
    .fullName {
        left: 2%;
    }

    .logo {
        right: 10px;
    }

    .laureat img {
        width: 55px;
        height: 55px;
        padding-top: 7px;
    }

    .tooltip1::after,
    .tooltip2::after,
    .tooltip3::after,
    .tooltip4::after {
        margin-top: 60px;
    }
}

@media only screen and (max-width: 640px) and (min-width: 320px) {
    .fullName {
        left: 1%;
    }

    .logo {
        right: 10px;
    }

    .laureat img {
        width: 50px;
        height: 50px;
        padding-top: 10px;
    }

    .tooltip1::after,
    .tooltip2::after,
    .tooltip3::after,
    .tooltip4::after {
        margin-top: 60px;
    }
}


/*===========Всплывающее окно  при загрузке сайта========*/

/* базовый контейнер, фон затемнения*/
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.65);
    z-index: 999;
    -webkit-animation: fade .6s;
    -moz-animation: fade .6s;
    animation: fade .6s;
    overflow: auto;
}

/* модальный блок */
.popup {
    top: 12%;
    left: 0;
    right: 0;
    font-size: 16px;
    color: #534A44;
    margin: auto;
    width: 85%;
    min-width: 320px;
    max-width: 800px;
    position: absolute;
    padding: 5px;
    line-height: 1.4;
    background: #fefefe;
    z-index: 1000;
    // -webkit-border-radius: 0 0 10px 10px;
    // -moz-border-radius: 0 0 10px 10px;
    // -ms-border-radius: 0 0 10px 10px;
    // border-radius: 0 0 10px 10px;
    -webkit-box-shadow: 0 15px 20px rgba(0, 0, 0, .22), 0 19px 60px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 15px 20px rgba(0, 0, 0, .22), 0 19px 60px rgba(0, 0, 0, .3);
    -ms-box-shadow: 0 15px 20px rgba(0, 0, 0, .22), 0 19px 60px rgba(0, 0, 0, .3);
    box-shadow: 0 15px 20px rgba(0, 0, 0, .22), 0 19px 60px rgba(0, 0, 0, .3);
    -webkit-animation: fade .6s;
    -moz-animation: fade .6s;
    animation: fade .6s;
}

.popup img {
    width: 100%;
    height: auto;
}

.popup h3 {
    margin-bottom: 10px;
    margin-top: 10px;
}

// .popup .modal-body {
//     padding: 10px 30px;
// }

.popup .modal-body p {
    margin-bottom: 10px;
    text-align: justify;
}

.popup .center-cont img {
    width: 60px;
    height: 60px;
    margin-top: 5px;
}

.tit {
    text-transform: uppercase;
}

.int {
    font-size: 17px;
}

.center-cont {
    margin-bottom: 10px;
    margin-top: 10px;
}

.center-cont-left,
.center-cont-right {
    display: inline-block;
}

.center-cont-left {
    width: 10%;
}

.center-cont-right {
    width: 85%;
    color: #6E3589;
    font-weight: bold;
    text-align: justify;
}

.modal-footer {
    margin-top: 20px;
}

.foot-cont {
    position: absolute;
    bottom: 10px;
    padding-left: 30px;
    font-weight: bold;
    margin-bottom: 30px;
}

.foot-cont a {
    font-weight: bold;
    color: #6E3589;
    font-size: 16px;
}

.foot-cont a:hover {
    text-decoration: none;
}

#foot-txt {
    margin-bottom: 20px;
}

#but-zayavka {
    text-align: center;
}

#but-zayavka a {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    background: rgb(104, 47, 133);
    background: -webkit-linear-gradient(0deg, rgb(104, 47, 133) 16%, rgb(155, 114, 176) 100%);
    background: -o-linear-gradient(0deg, rgb(104, 47, 133) 16%, rgb(155, 114, 176) 100%);
    background: -ms-linear-gradient(0deg, rgb(104, 47, 133) 16%, rgb(155, 114, 176) 100%);
    background: linear-gradient(0deg, rgb(104, 47, 133) 16%, rgb(155, 114, 176) 100%);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
}

/* кнопка закрытия */
.close {
    top: 6px;
    right: 6px;
    width: 30px;
    height: 25px;
    position: absolute;
    border: none;
    -webkit-border-radius: 0 0 0 10px;
    -moz-border-radius: 0 0 0 10px;
    -ms-border-radius: 0 0 0 10px;
    -o-border-radius: 0 0 0 10px;
    border-radius: 0 0 0 10px;
    font-weight: bold;
    color: #fff;
    font-size: 12px;
    padding-bottom: 5px;
    background: rgb(104, 47, 133);
    background: -webkit-linear-gradient(0deg, rgb(104, 47, 133) 16%, rgb(155, 114, 176) 100%);
    background: -o-linear-gradient(0deg, rgb(104, 47, 133) 16%, rgb(155, 114, 176) 100%);
    background: -ms-linear-gradient(0deg, rgb(104, 47, 133) 16%, rgb(155, 114, 176) 100%);
    background: linear-gradient(0deg, rgb(104, 47, 133) 16%, rgb(155, 114, 176) 100%);
    cursor: pointer;
    outline: none;
}

.close:hover,
#but-zayavka a:hover {
    background: rgb(155, 114, 176);
}

/* анимация при появлении блоков с содержанием */
@-moz-keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1
    }
}

@-webkit-keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1
    }
}


// ADD 04.06.2019
.tooltip4 {
    margin-right: 10px;
}

.tooltip4::after {
    background-image: url(../images/map-top.jpg);
    background-repeat: no-repeat;
    background-position: center bottom;
    border-radius: 10px 0px 10px 10px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
    color: #00467f;
    content: attr(data-tooltip);
    /* Главная часть кода, определяющая содержимое всплывающей подсказки */
    opacity: 0;
    /* Наш элемент прозрачен... */
    padding: 8px;
    position: absolute;
    visibility: hidden;
    /* ...и скрыт. */
    transition: all 0.2s ease-in-out;
    /* Добавить плавности по вкусу */
    font-size: 13px;
    font-style: italic;
    font-weight: bold;
    z-index: 1;
}

.tooltip4:hover::after {
    opacity: 0.9;
    visibility: visible;
}

.tooltip4::after {
    max-width: 250px;
    margin-top: 70px;
    margin-left: -300px;
}

@media only screen and (max-width: 1024px) and (min-width: 768px) {
    .tooltip4::after {
        margin-top: 60px;
    }
}

@media only screen and (max-width: 640px) and (min-width: 320px) {
    .tooltip4::after {
        margin-top: 60px;
    }
}

// 03.09.2020 - Кнопка "Будьте бдительны"
.but-danger {
    display: inline-block;
    width: 304px;
    height: 118px;
    border: 3px solid red;
    border-radius: 6px;
    background-color: #9F3157;
}

.but-danger:hover {
    border-color: #fff;
}

.but-danger table {
    height: 100%;
    width: 100%;
}

.but-danger table td {
    vertical-align: middle;
    text-align: center;
}

// end